dagster==1.10.4
dagster-dlt==0.26.4
dagster-webserver==1.10.4
dlt[filesystem]==1.9.0
oracledb==3.0.0
pyarrow==19.0.1
pymysql==1.1.1
simple-salesforce==1.12.4
python-dotenv==1.0.0
dagster-snowflake-pandas==0.26.4
boto3==1.37.2
pandas==2.2.3
dagster-snowflake==0.26.4
duckdb==1.2.0
dask==2024.8.0
dask[dataframe]